* {
  margin: 0%;
  padding: 0%;
}

/* navbar section  */

.menu-container {
  /* padding: 20px; */
  background-color: black;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-img {
  width: 120px;
}

.menus {
  display: flex;
}

.item {
  margin-right: 20px;
  padding: 10px;
  font-size: 21px;
  font-family: "Courier New", Courier, monospace;
}

.item:hover {
  color: orange;
  cursor: pointer;
}

/* banner section  */

.banner-img {
  width: 450px;
}

.banner-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 100vh;
  background-image: url("/images/banner-background.jpg");
  /* should be know this  */
  background-size: cover;
}

.title {
  font-size: 55px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.banner-textD {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.btn {
  padding: 10px 20px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn:hover {
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  color: rgb(235, 162, 6);
  cursor: pointer;
}

/* about section  */

.about-main {
  background-image: url("./images/About-Background.png");
  background-size: cover;
}

.about-h1 {
  text-align: center;
  /* margin-top: 20px; */
  padding: 20px;
  font-size: 34px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.about-info {
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.about-p {
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.btn2 {
  padding: 10px 20px;
  background-color: orange;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.btn2:hover {
  padding: 10px 20px;
  background-color: rgb(107, 0, 139);
  border: none;
  border-radius: 5px;
  color: rgb(235, 162, 6);
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* improtant tag  */
  flex-direction: row-reverse;
}

/* our services start  */

.service-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.box {
  width: 230px;
  height: 250px;
  box-shadow: 4px 4px 15px gray;
  text-align: center;
  padding: 15px;
  color: black;
  border-radius: 10px;
}

.icon {
  width: 70px;
}
