* {
  margin: 0%;
  padding: 0%;
}

.menu-container {
  /* padding: 20px; */
  background-color: black;
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo-img {
  width: 120px;
}

.menus {
  display: flex;
}

.item {
  margin-right: 20px;
  padding: 10px;
  font-size: 21px;
  font-family: "Courier New", Courier, monospace;
}

.item:hover {
  color: orange;
  cursor: pointer;
}
